@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--light_primary: '#6433F0';
	--light_terciary: '#9BA3EB';
	--light_secondary: '#646FD4';
	--light_quaternary: '#DBDFFD';
	--light_text_black: '#343540';
	--light_text_black_80: '#343540cc';
	--light_text_black_60: '#34354099';
	--light_text_black_40: '#34354066';
	--light_text_black_20: '#34354033';
	--light_transparent_blue: '#242f9b26';
	--light_white: '#EFEFEF';
	--light_grey: '#999999';
}

body {
	@apply font-normal font-primary text-body1;
}
