@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--light-primary: #6433f0;
	--light-terciary: #9ba3eb;
	--light-secondary: #646fd4;
	--light-quaternary: #dbdffd;
	--light-text-black: #343540;
	--light-text-black-80: #343540cc;
	--light-text-black-60: #34354099;
	--light-text-black-40: #34354066;
	--light-text-black-20: #34354033;
	--light-transparent-blue: #242f9b26;
	--light-white: #efefef;
	--light-grey: #999999;
	--success: #5cb85c;
}

html {
	scroll-behavior: smooth;
}

body {
	@apply font-normal font-primary text-body1;
	box-sizing: border-box;
}

*::selection {
	@apply bg-light_primary text-light_white;
}
