@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--light-primary: #6433f0;
	--light-primary-transparent: #6533f061;
	--light-primary-dark: #6d39fd;
	--light-secondary: #646fd4;
	--light-terciary: #8677ff;
	--light-quaternary: #dbdffd;
	--light-text-black: #343540;
	--light-text-black-80: #343540cc;
	--light-text-black-60: #34354099;
	--light-text-black-40: #34354066;
	--light-text-black-20: #34354033;
	--light-text-black-10: #34354015;
	--light-transparent-blue: #242f9b26;
	--light-white: #efefef;
	--light-whiter: #f5f5f5;
	--light-grey: #e7e5e4;
	--light-grey_dark: #cccccc;
	--light-star: #fef9c3;

	--dark-primary: #0092ca;
	--dark-primary_light: #0dc3f0;
	--dark-primary-transparent: #09a3c959;
	--dark-secondary: #395182;
	--dark-terciary: #393e46;
	--dark-quaternary: #222831;
	--dark-text-white: #f3f3f3;
	--dark-text-white-80: #f3f3f3cc;
	--dark-text-white-60: #f3f3f399;
	--dark-text-white-40: #f3f3f366;
	--dark-text-white-20: #f3f3f333;
	--dark-text-white-10: #f3f3f315;
	--dark-light_grey: #292929;
	--dark_grey: #1f1f1f;
	--dark_black: #111111;
	--success: #5cb85c;
	--error: #b00020;
	--warning: #fbbd23;
	--dark-error: #e12345;
	--dark-star: #a16207;

	--correct: #5cb85c;
	--dark_correct: #4a9d4a;
	--incorrect: #b00020;
	--dark_incorrect: #a0001f;

	/* RESPONSIVE VALUES */
	--XS: 420px;
	--SM: 640px;
	--MD: 768px;
	--LG: 1024px;
	--XL: 1280px;
	--_2XL: 1536px;

	color: var(--light-text-black);
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 47.4% 11.2%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 47.4% 11.2%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 92% 38%;
		--destructive-foreground: 210 40% 98%;

		--ring: 215 20.2% 65.1%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 224 71% 4%;
		--foreground: 213 31% 91%;

		--muted: 223 47% 11%;
		--muted-foreground: 215.4 16.3% 56.9%;

		--accent: 216 34% 17%;
		--accent-foreground: 210 40% 98%;

		--popover: 224 71% 4%;
		--popover-foreground: 215 20.2% 65.1%;

		--border: 216 34% 17%;
		--input: 216 34% 17%;

		--card: 224 71% 4%;
		--card-foreground: 213 31% 91%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 1.2%;

		--secondary: 222.2 47.4% 11.2%;
		--secondary-foreground: 210 40% 98%;

		--destructive: 359 51% 48%;
		--destructive-foreground: 210 40% 98%;

		--ring: 216 34% 17%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-feature-settings: 'rlig' 1, 'calt' 1;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	@apply relative min-h-screen font-normal font-primary text-body2 sm:text-body1 text-light_text_black dark:text-dark_text_white bg-light_white dark:bg-dark_black;
	box-sizing: border-box;
	/* overflow-x: hidden; */
}

*::selection {
	@apply bg-light_primary text-light_white dark:bg-dark_primary;
}
